body {
    background-color: transparent;            
}

h1{
    padding-left: 150px;    
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius:35px;
}

img{
    border: 2px solid;
    position: fixed;
    padding: 0;
}
   
  .img-circle {
    border-radius: 50%;
    margin-right: 20px;
  }
    
  small {
    color: #666;
  }